body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:cursive;
}
.nav-item .nav-link{
    margin: 10px;
    
}
.navbar-nav .nav-link ul li a{
    color: whitesmoke;
}
footer{
background-color: aqua;
}